body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #0B1B32;
  color: #f1f1f1;
  max-height: 10%;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
